// COLORS
$primary-color: #3500d3;
$secondary-color: green;

$white-color:white;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.8rem;
$big-font-size: 4rem;
$mid-font-size: 3rem;
